/*  
SatProd Design
Copyright 2013 - Philes Gilles
*/


/* Generals */

/* Colors 
blanc = #ffffff
noir = #010101

*/

@font-face{
font-family: cali;
src: url('../font/cali.ttf'),
} 

@font-face{
font-family: beba;
src: url('../font/corp.ttf');

} 

@font-face{
font-family: eleg;
src: url('../font/Elegantlight.ttf');

} 

body {
	margin: 0;
	padding: 0;
	font: normal 90% thin 'beba' "Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	overflow: hidden;

}

h2 {
	padding-left: 20px;
	font-size: 25px;
	text-transform: uppercase;
}

p {
	padding-left: 20px;
}

/* Page Contact Box */

.contactbox {
	position: fixed;
	bottom: 20px;
	right: 0px;
	z-index: 100;
	height: 35px;
	width: 600px;
	background-color: #010101;
	color: #fff;
	font-size: 22px;

}

.divcont{
	position: relative; ;
	top: 8px ;
	left: 8px;
}

.contactbouts {
	position: relative;
	top: 4px;
}

input[type=submit], input[type=reset] {
 width:50px;
 height: 25px;
 border-radius: 0;
 margin-left:5px;
 background-color: #010101;
 color: #fff;
 cursor:pointer;
 border: 1px solid #fff;
 margin-right: 6px;
 }

 input[type=text] {
 width:200px;
 height: 23px;
 border-radius: 0;
 margin-left:12px;
 background-color: #fff;
 color: #010101;
 cursor:pointer;
 border: 1px solid #333333;
 margin-right: 0px;
 }

 input, textarea {
 width:550px;
 height: 440px;
 border-radius: 0;
 margin-left:12px;
 background-color: #fff;
 color: #010101;
 cursor:pointer;
 border: 1px solid #333333;
 margin-right: 0px;
 }

/* Page Acceuil */

.titre{
	position: relative;
	top: 5px;
	color: #fff;
}

.dessous {
	z-index: 1 !important;
}

.linbloc{
	display: inline-block;
}

.acceuila{
	margin: 0;
	font-family: cali;
	font-size: 40px;
	text-align: center;
}
.acceuilb{
	margin: 0;
}

.acceuilstuff {
	background-color: rgb(255, 255, 255);	
	height:500px; 	
	width:980px;
	
}

.except {
	font-size: 22px;
	text-align: center;
	position: relative;
	top:12px;
	color: #010101;
	z-index: 2
}

.all {
	z-index: 20;
	
/*	width: 700%;*/
	
}

.page {
	position: relative;
	overflow: hidden;
}

.pagein {
	width: 79%;
	margin-right: 10%;
	margin-left: 10%;
	border: 1px solid #333333;
	/*text-transform: uppercase;*/
	text-decoration: none;
	font-size: 20px;
}




/* CSS Menu */

.menutop {
	position: fixed !important;
	top: 0;
}

.menucentre {
	position: relative;
	top: 14px;
}

#blocmenu {
	z-index: 50;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

}

.ligneblanche {
	background-color: #ffffff;
	width: 100%;
	height: 5px;

}

.interligne {
	background-color: #ffffff;
	width: 100%;
	height: 10px;
}

.lignenoir {
	background-color: #010101;
	width: 100%;
	height: 3px;

}

.header {
	font-size: 38px;
	text-align: center;
	height: 60px;
	margin: 0;
}


#header span {
	cursor: pointer;

}

.lignebloc {
	display: inline-block;
}

/* general pages */

.resize {
	margin-top: 0px;
}

.margins {
	margin-top: 80px;
}



.blanc {
	background-color: rgb(255, 255, 255);
}

.noir {
	background-color: rgb(1, 1, 1) !important;	
}

.textenoir {
	color: #010101;
}


.transition {
	transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-webkit-transition: all linear 0.4s;
}


.logopage {
	width: 250px;
	height: 100px;
	background-color: #010101;
}

/* CSS Page Description */

.page1 {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-53-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.9; 
}

.description1 {
	background: rgba(255,255,255,0.9);
	height: 68%;
	width: 80%;
	position: relative;
	left: 140px;
	box-shadow: 5px 5px 0px rgba(1,1,1,0.8);
}

/* CSS Page Inside */

.abouttext {
	width: 450px; 
}

.page2 {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-3-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.8; 
}

.aboutimg img {
	width: 450px;
	

}
/* CSS Page Inside */

.page3 {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-41-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.9;
	 
}

.galleryinside {
	overflow: auto;
    float: right;
    position: relative;
    right: -80px;
    margin-right:0;
    padding-right: 0;
    overflow: scroll !important;
    background: transparent;
	

}

.descr {
	font-size: 15px;
	font-family: Arial,sans-serif;
	
	float: right;
	width: 60%;
	height: 97%;
	margin: 0px 0px 0px 0px;
	z-index: 5;
	overflow-y: auto;
	overflow-x: hidden !important;
	background: transparent;
	padding-bottom: 1%;
	padding-top: 1%;

}

.gal1 {
	position: relative;
	top: 30px;
}
 



/* CSS Page Design */

.page4 {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-30-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.9; 
}

.galhaut{
	position: relative;
	top: -70px;
}


/* CSS DES SLIDES */

#slide_home, #slide0, #slide1, #slide2, #slide3, #slide4, #slide5 {
	/*height: 586px;*/
	padding-top:60px;
}

#slide_home {
	
}

#slide0 {
		
}

#slide1 {
	
}

#slide2 {
	background: url(../images/slide2-bg.jpg) center 0 no-repeat fixed;
}

#slide3 {
	background: url(../images/slide3-bg.jpg) center 0 no-repeat fixed;
}

#slide4 {
	background: url(../images/slide3-bg.jpg) center 0 no-repeat fixed;
}

#slide5 {
	background: url(../images/slide3-bg.jpg) center 0 no-repeat fixed;
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
}

#slide_home  .slide_inside {
	text-align:center;
}

#slide1 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:2%;
	margin-bottom: 50px;
	padding:4%;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:50px;
	padding:50px;
}

/* Page Contact */

.contact {
	float: right;
	padding-right: 30px;
}

.footer {
	height: 60px;
	width: 100%;
	text-align: left;
	font-size: 18px;
	position: fixed;
	bottom: 0;
}