										/*---------------------------------------
										|										|
										|			CREATED AND DESIGNED 		|
										|					BY 					|
										|		Louis Borsu & Philes Gilles 	|
										|			Satprod Engineering 		|
										|										|
										---------------------------------------*/


/*Code couleur texte : 
RGB: 103 115 122

Code couleur Logo : 
RGB: 0 35 73*/
 @font-face{
font-family: bebas;
src: url('../font/Bloemberg.ttf'),
     url('../font/Bloemberg.eot'); /* IE9 */
} 
 @font-face{
font-family: lulu;
src: url('../font/lulu.ttf'),
} 

body {
	background-color: rgb(255,255,255);
	font-family: Arial,sans-serif;
	font-size: 15px;
	height: 100%;
	width: 100%;
	color: #515151;
}



.menu {
	text-decoration: none;
	display: block;
	width: 700px;
	position: relative;
	left: 120px;
	top:-8px;
	margin: auto;
	height: 15px;

}


ul {	
	list-style: none;
}

li {
	display: inline;
	font-family: '',arial,serif;
	color: rgb(103,115,122);
	font-size: 15px;
	padding-right: 15px;
	line-height: 1.0;
}


.lang {
	padding-right: 0px;
	position: relative;
	
	right: -110px;
	top:0px;
	font-size: 11px;
}

.flaglang {
	width: 15px;
	height: 15px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.flaglang:hover {
	-webkit-filter: grayscale(30%);
	-moz-filter: grayscale(30%);
	filter: grayscale(30%);
	transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2); /* IE 9 */
	-webkit-transform:scale(1.2,1.2);

}

.langactiv {
	-webkit-filter: grayscale(0%) !important;
	-moz-filter: grayscale(0%) !important;
	filter: grayscale(0%) !important;
	transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1); /* IE 9 */
	-webkit-transform:scale(1.1,1.1);
}

li:hover{
	text-decoration: underline !important;
	cursor: pointer;
}

.logo-menu {
	background-color: rgb(00,35,73);
	z-index: 7000;
	position: absolute;
	right: 0px;
	top:-11px;
	-webkit-box-shadow: 0px 0px 2px #333333;
 	-moz-box-shadow: 0px 0px 2px #333333;
  	box-shadow: 0px 0px 2px #333333;

}

.logo1{
	position: relative;
	bottom:-10px;
}

.badge {
	position: relative;
	left: 690px;
	top: -328px;
	background-color: rgb(00,35,73);
	z-index: 1000;
	height: 125px;
	width: 303px;
	-webkit-box-shadow: 0px 0px 2px #333333;
 	-moz-box-shadow: 0px 0px 2px #333333;
  	box-shadow: 0px 0px 2px #333333;
  	display: none;
}

.colonegauche {
	width: 270px;
	position: absolute;
	left: 
}

.textgauch {
	position: relative;
	left: 65px;
	top: 150px;
	max-width: 230px !important;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: arial;
}

.textgauch p {
	word-wrap: break-word;
}

.all {
	position:absolute; 
	top:50%;
	height:500px; 
	margin-top:-280px;
	left:50%;
	width:980px;
	margin-left:-490px;
	display: inline-block;
}

.contenu {
	-webkit-box-shadow: 0px 0px 5px #333333;
 	-moz-box-shadow: 0px 0px 5px #333333;
  	box-shadow: 0px 0px 5px #333333;
}

#page1 {
	height: 500px;
	width: 980px;
	margin: auto;

}

#page2 {
	background-image:url('../img/fond.png');

	height: 500px;
	width: 980px;
	margin: auto;
}

#page3 {
	background-image:url('../img/fond.png');
	height: 500px;
	width: 980px;
	margin: auto;
}

#page4 {
	background-image:url('../img/fond.png');
	width: 980px;
	height: 500px;
	margin: auto;
}

#page5 {
	background-image:url('../img/fond.png');
	height: 500px;
	width: 980px;
	margin: auto;
}

#page6 {
	background-image:url('../img/fond.png');
	height: 500px;
	width: 980px;
	margin: auto;
}

#page7 {
	background-image:url('../img/fond.png');
	height: 500px;
	width: 980px;
	margin: auto;
}

.descr {
	font-size: 15px;
	font-family: Arial,sans-serif;
	float: right;
	display: block;
	width: 608px;
	height: 330px;
	margin: 100px 50px 0px 0px;
	position: relative;
	bottom: 0;
	z-index: 5;
	overflow: auto;
	background: transparent;

}

iframe {
	width: 608px;
	height: 330px;
}


.gal {
	padding-left: 7px;
	padding-top: 7px;
}

.contact {
	background: transparent;
	float: right;

}

input {
	background: transparent;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	font-size: 12px;
	float: left;
	margin-bottom: 15px;
	background: transparent;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	display: inline-block;
	width: 215px;
}

textarea {
	height: 120px;
	resize: none;
	position: relative;
	left: -2px;
	background: transparent; 
}

 label {
 	float: right;
 	position: relative;
 	display: block;
 	right: 35px;
 	top: 5px;
 	vertical-align: top;
 }

 .meil {
 	top:32px;
 	right: 38px;
 }

 .foota {
 	position: absolute;
 	bottom: 2px;
 	left: 5px;
 	font-family: bebas;
 }

 .foota a {
 	text-decoration: none;
 	font-size: 15px;
 	color: rgb(103,115,122);
 }

  .footb {
 	position: absolute;
 	bottom: 2px;
 	right: 5px;
 	font-family: bebas;
 }

 .footb a {
 	text-decoration: none;
 	font-size: 15px;
 	color: rgb(103,115,122);
 }
