										/*---------------------------------------
										|										|
										|			CREATED AND DESIGNED 		|
										|					BY 					|
										|		Louis Borsu & Philes Gilles 	|
										|			Satprod Engineering 		|
										|										|
										---------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Meddon);

												/* Font Face */

@font-face{
font-family: cali;
src: url('../font/cali.ttf'),
} 

@font-face{
font-family: beba;
src: url('../font/corp.ttf');

} 

@font-face{
font-family: eleg;
src: url('../font/Elegantlight.ttf');

} 


												/* Media Queries */

@media only screen  and (max-device-width : 1024px) {
		.menutop {
			
		}

		.menucentre {
			top: 10px !important;
		}

		.header {
			font-size: 30px !important;
		}

		.fl {
			float: none;
			width: 100%;
			text-align: center;
		}

		.contactbox{
			margin: auto;
			float: none;
			width: 100% !important;
			font-size: 1.5em !important;
		}

		.expl{
			
			width: 57% !important;
			
		}

		.galleryinside {
			
		    width: 40% !important;
		    position: relative;
		    right: 1%;

		}
}

@media only screen  and (orientation : portrait) {
				.expl{
			
			width: 65% !important;
			
		}

		.galleryinside {
			
		    width: 32% !important;
		    position: relative;
		    right: 2.5%;

		}
}




												/* CORE PAGE */
html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 62,5%;

}

h1 {
	font-weight: normal;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}


span {
	font-weight: normal;
}

.blanc {
	background-color: rgb(255, 255, 255);
}

.noir {
	background-color: rgb(1, 1, 1) !important;	
}

.textenoir {
	color: #010101;
}

.page{
	margin: 0;
	overflow: none;
	-webkit-overflow-scrolling : none;
	float: left;
	font-family: Ambassador;

}

.pagein {
	width: auto;
	border: 1px solid #333333;
	/*text-transform: uppercase;*/
	text-decoration: none;
	font-size: 20px;
}


												/* Animations */

.transition {
	transition: all linear 0.4s;
	-moz-transition: all linear 0.4s;
	-webkit-transition: all linear 0.4s;
}


												/* CSS Menu */

.menucentre {
	position: relative;
	top: 5px;
}

.menutop {
	position: fixed;
	bottom: 100% !important;
	margin-bottom: -62px;
}

.header {
	font-size: 38px;
	text-align: center;
	margin: 0;
	min-height: 60px;
	

}

#header span {
	cursor: pointer;
	font-family: 'Ambassador';
	font-weight: 400 !important;


}

/*.menucentre {
	position: relative;
	top: 14px;
}*/

#blocmenu {
	z-index: 50;
	width: 100%;
	position: fixed;
	bottom: 0%;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

}

.ligneblanche {
	background-color: #ffffff;
	width: 100%;
	height: 2px;

}

.interligne {
	background-color: #ffffff;
	width: 100%;
	height: 10px;

}

.lignenoir {
	background-color: #010101 !important;
	width: 100%;
	height: 2px;


}



												/* PAGE ACCEUIL */



.pageaccin {
	width: auto;
	border: 1px solid #333333;
	/*text-transform: uppercase;*/
	text-decoration: none;
	font-size: 20px;
}

.titre{
	position: relative;
	top: 5px;
	color: #fff;
	font-family: 'Ambassador Script';
	font-size: 1.8em;
}

#pageacceuil{
	background-color: rgb(255,255,255);
}

.dessous {
	z-index: 1 !important;
}


.linbloc{
	display: inline-block;
}


.acceuila{
	margin: 0;
	font-family: cali;
	font-size: 40px;
	text-align: center;
	background-color: rgb(1,1,1);
}
/*.acceuilb{
	margin: 0;
	position: relative;
	top: -6.5%;
}*/

.except {
	font-size: 22px;
	text-align: center;
	color: #010101;
	z-index: 2
}

												/* DESCRIPTION */
.top {
	position: relative;
	top:0;

}

.descript {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-3-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.8; 
}

												/* INSIDE */
.fancybox-skin{
    cursor: e-resize;
}

.inside {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-41-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.9;
}

.expl{
	float: left;
	width: 47%;
	max-height: 90%;
	margin-left: 3%;
	background: rgba(255,255,255,0.9);
	position: relative;
	top: 5%;
	box-shadow: 5px 5px 4px rgba(1,1,1,0.7);
	overflow: auto ;
	font-family: 'Ambassador';
}

.galleryinside {
	float: right;
    width: 50%;
    height: 90%;
    position: relative;
    top: 5%;   
    overflow-y: scroll !important;
    -webkit-overflow-y-scrolling: touch;
    overflow-x: hidden !important;


}

.photos{
	margin-right: 12px;
}

.photos img {
	float: right;
	margin: 3px;
}

												/* DESIGN */


.design {
	background-image:url('../images/immeuble/20130527_RES_BBRA_PDK-30-M.jpg');
	background-size:100% 100%;
	background-image-opacity:0.9; 
}



												/* TOUR */


												/* SERVICES */


												/* CONTACT */


												/* FOOTER */

.footer {
	
	width: 100%;
	text-align: left;
	font-size: 18px;
	position: fixed;
	bottom: 0;
}

.fl {
	float: left;
	font-family: 'Ambassador';
	position: relative;
	top: -10px;

	/*width: 420px;*/
}

												/* Contact Box */

.contactbox {
	
	float: right;
	font-family: 'Ambassador';
	font-weight: bold;
	right: 0px;
	z-index: 100;
	min-height: 35px;
	width: auto;
	background-color: #010101;
	color: #fff;
	font-size: 1.5em;

}

.divcont{
	position: relative;
	top: 8px ;
	left: 8px;
}

.contactbouts {
	position: relative;
	top: 4px;
}

input[type=submit], input[type=reset] {
 width:50px;
 border-radius: 0;
 height: auto;
 margin-left:5px;
 background-color: #010101;
 color: #fff;
 cursor:pointer;
 border: 1px solid #fff;
 margin-right: 6px;
 -webkit-appearance: none;
 }

 input[type=text] {
 width:200px;
 height: auto;
 border-radius: 0;
 margin-left:12px;
 background-color: #fff;
 color: #010101;
 cursor:pointer;
 border: 1px solid #333333;
 margin-right: 0px;
 }

 input, textarea {
 width:550px;
 height: 440px;
 border-radius: 0;
 margin-left:12px;
 background-color: #fff;
 color: #010101;
 cursor:pointer;
 border: 1px solid #333333;
 margin-right: 0px;
 }
